.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
docs_build
site_build
venv
docs.zip
archive.zip

# vim temporary files
*~
.*.sw?
.cache

# macOS
.DS_Store

#obj detection 
merged_obj_detect.csv
/obj

# settings file
count_files.py
backend/settings.py

# storybook
.storybook
frontend/src/stories/*

# package-lock.json
object_list.txt
obj_class.txt
/metadata
location_category_list.csv

/test_sys
settings.py
startBackend.bat
startFrontend.bat

/backend/csv
/backend/results
/index

/backend/objpos/image_data.db
/backend/objpos/metadata.db
/backend/objpos/joined_data.db

/backend/db/*.db
/backend/main/*.db
/backend/main/elastic_search/utils/*.db

# logs
/backend/logs/*

# data
/backend/data
/backend/garbage

# embedding_compute
/backend/embedding_compute/model/

# milvus
/backend/milvus/volumes
/backend/milvus/utils/crawl_aic

# main
/backend/main/elastic_search/http_ca.crt

http_ca.crt

/backend/elasticsearch-8.17.0