.tab-container {
    padding: 20px;
    display: flex;
    height: 100%;
    min-height: 0;
    box-sizing: border-box;
    gap: 20px;
}

.timeline-container {
    flex: 1;
    min-height: 0;
    overflow: hidden;
}

.map-container {
    flex: 1;
    min-height: 0;
}

.map-container .leaflet-container {
    height: 100%;
    width: 100%;
}

