.tab-container {
    padding: 20px;
    display: flex;
}

.timeline-container {
    height: 500px;
    width: 1000px;
    flex: 1;
    margin-left: 20px;
}

.map-container {
    height: 500px;
    width: 1000px;
    flex: 1;
}

.map-container .leaflet-container {
    height: 100%;
    width: 100%;
}

