.home-main-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-height: 200px;
    min-width: 1500px;
    overflow: hidden;
    background-color: #F5F5F5;
}