.home-main-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    min-height: 200px;
    min-width: 1500px;
    margin-top: 7px;

}

.home-main-container .left-filter-container{
    height: 100%;
    width: 15%;
}

.home-main-container .right-content-container{
    height: 100%;
    width: 85%;
}


.home-main-container .grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 5 columns */
    grid-gap: 3px;
    padding-right: 5px;
    overflow-y: scroll;
  }
  
  .home-main-container .grid-item {
    border: 1px solid #ccc;
  }
  
  .home-main-container .grid-item img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

.home-main-container .filter-container{
    background-color: rgb(206, 232, 255);
    height: 580px;
    width: 100%;
    min-height: 580px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.home-main-container .filter-item-area{
    overflow-y: scroll;
    height: 580px;
    width: 100%;
    padding: 5px;
    padding-top: 10px;
    /* background-color: aquamarine; */
}

.filter-tag-container{
  height: fit-content;
  width: 100%;
  display: block;
  margin: 5px 0 5px 0;
}

.filter-tag-container label{
  color: gray;
  font-size: small;
}

.filter-tag-container .tag-content{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-right: 3px;
}

.filter-tag-container .tag-value{
  width: 100%;
}

.filter-tag-container .tag-content .icon-container{
  display: flex;
  flex-direction: column;
  height: 30px;
  width: 7px;
  row-gap: 3px;
}

.filter-tag-container .icon-container>div{
  width: 7px;
  height: 7px;
  border-radius: 3px;
  cursor: pointer;
}

.filter-tag-container .and-icon{
  background-color: rgb(29, 162, 3);
}

.filter-tag-container .or-icon{
  background-color: rgb(249, 241, 10);
}

.filter-tag-container .remove-icon{
  background-color: red;
}

.filter-tag-container .green{
  background-color: rgb(170, 247, 155);
}

.filter-tag-container .yellow{
  background-color: rgb(247, 244, 155);
}

.home-main-container .clear-filter-button{
  position: absolute;
  right: 10px;
}