/* scrollbar.css */

.scrollbarsim-container {
    overflow-y: scroll;
    height: 600px;
    position: relative;
}

.scrollbarsim {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-right: 20px; /* Khoảng cách để giữ chỗ cho thanh cuộn */
}

/* Tạo thanh cuộn */
.scrollbarsim::-webkit-scrollbar {
    width: 10px;
}

.scrollbarsim::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scrollbarsim::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.scrollbarsim::-webkit-scrollbar-thumb:hover {
    background: #555;
}
