.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 7 columns */
    gap: 15px; /* Gap between grid items */
    width: 97%; /* Full width */
    height: 100%; /* Full height to fit the container */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Hide horizontal scrolling */
    padding-left: 1%; /* Add padding around the grid */
    /* padding-right: 10px; */
  }
  
  .grid-item {
    width: 100%; /* Full width of the grid cell */
    height: 100%; /* Full height of the grid cell */
    object-fit: cover; /* Ensure images cover the grid cell without distortion */
    border-radius: 8px; /* Optional: Add rounded corners */
  }
  
  
.neighbor-popup-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000000;
}

.neighbor-popup-container .popup-content-background{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 20px;
    position: fixed;
}

.neighbor-popup-container .close-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    padding: 5px;
    background-color: white;
    position: absolute;
    top: -1.7%;
    right: -0.7%;
    border-radius: 20px;
    cursor: pointer;
    z-index: 10000;
}

.neighbor-popup-container .close-popup-button{
    cursor: pointer;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 10001;
}

.neighbor-popup-container .neighbor-image-container{
    max-height: 90%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    overflow-y: hidden;
}

.neighbor-popup-container .neighbor-image-container h1{
    font-family:  Tahoma;
    font-weight: 700;
    text-align: center;
    max-height: 600px;
}

.neighbor-popup-container .neighbor-images-list-wrapper{
    max-height: 550px;
    height: 550px;
    width: 100%;
    overflow-y: auto;
    display: block;
    position: relative;
}

.neighbor-popup-container .neighbor-image{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.neighbor-popup-container .neighbor-images-list{
    display: grid;
    grid-template-columns: repeat(9, 1fr); 
    grid-gap: 0px;
    padding-right: 5px;
    overflow-y: auto;
    
}

.neighbor-popup-container .img-container{
    padding: 3px;
    border-radius: 5px;
}

.neighbor-img-wrapper{
    border-radius: 5px;
    overflow: hidden;
}

.neighbor-popup-container .img-container:hover{
    background-color: #000dc1;
}

.grid-neighbor {
    margin-left: 2.5%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 cột với chiều rộng bằng nhau */
    grid-gap: 10px; /* Khoảng cách giữa các hình ảnh */
    overflow-y: auto;
    height: 400px;
    position: relative;
    /* height: 400px; Adjust height as needed */
    /* flex: 1; */
}

.image-wrapper-neighbor {
    position: relative;
    display: inline-block;
}

.overlay-neighbor {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền với độ trong suốt */
    color: white; /* Màu chữ */
    padding: 5px; /* Khoảng cách từ lề */
    z-index: 1; /* Đảm bảo overlay hiển thị phía trên hình ảnh */
    border-top-left-radius: 10px; /* Bo tròn viền overlay */
}

.image-item-neighbor {
    width: 100%; /* Chiều rộng hình ảnh sẽ chiếm toàn bộ ô của grid */
    height: auto; /* Đảm bảo tỷ lệ hình ảnh không bị méo */
    /* object-fit: cover; Đảm bảo hình ảnh không bị biến dạng khi thay đổi kích thước */
    border-radius: 7px; /* Bo tròn viền hình ảnh */
    cursor: pointer;
    object-fit: contain; /* Ensure the image scales to fit within the container */
    max-height: 100%; /* Ensure the image does not exceed the container height */
}

.image-item-neighbor:hover {
    transform: scale(1.05); /* Phóng to hình ảnh khi hover */
    border: 2px solid rgb(0, 47, 255); /* Hiển thị khung hình ảnh in đậm khi hover */
    
}

/* .image-wrapper-neighbor.highlighted {
    border: 5px solid rgb(107, 255, 74);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} */

.image-wrapper-neighbor.highlighted {
    border: 3px solid #ffcc00; /* Highlight border */
    box-shadow: 0 0 10px rgba(255, 204, 0, 0.8); /* Highlight shadow */
    transform: scale(1.05); /* Slightly enlarge */
    transition: transform 0.3s, box-shadow 0.3s, border 0.3s; /* Smooth transition */
}

.image-wrapper-neighbor.highlight {
    border: 2px solid #FFD700;  /* Màu vàng để làm nổi bật */
    box-shadow: 0 0 10px #FFD700;
}