.single-popup-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
}

.single-popup-container .popup-content-background{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 98%;
    background-color: white;
    border-radius: 20px;
    position: fixed;
}

.single-popup-container .close-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    padding: 5px;
    background-color: white;
    position: absolute;
    top: -1.7%;
    right: -0.7%;
    border-radius: 20px;
    cursor: pointer;
    z-index: 10000;
}

.single-popup-container .close-popup-button{
    cursor: pointer;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1000;
}

.single-popup-container .single-popup-image-container{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .single-popup-container .single-img-wrapper{
    height: auto;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
} */

/* .single-popup-container .single-popup-image-container img{
    height: 100%;
    width: 100%;
    object-fit: contain;

} */

/* .single-popup-container .button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;

} */

/* .single-popup-container .btn-success{
    margin-left: 50px;
} */

.single-popup-container .similar-image-container{
    max-height: 90%;
    width: 65%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    overflow-y: hidden;
}

.single-popup-container .similar-image-container .similar-images-container h4 {
    font-family:  Tahoma;
    font-weight: 700;
    text-align: center;
    max-height: 600px;
}

.single-popup-container .similar-images-list-wrapper{
    max-height: 550px;
    width: 100%;
    overflow-y: auto;
    display: block;
    position: relative;
}

.single-popup-container .similar-image{
    object-fit: contain;
    height: 100%;
    width: 100%;
}


.single-popup-container .similar-images-list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0px;
    padding-right: 5px;
    overflow-y: auto;
}

.single-popup-container .img-container{
    padding: 3px;
    border-radius: 5px;
}

.single-popup-container .similar-img-wrapper{
    border-radius: 5px;
    overflow: hidden;
}

.single-popup-container .img-container:hover{
    background-color: #000dc1;
}

.single-popup-container .single-images-container{
    /* max-height: 90%; */
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    overflow-y: hidden;
}

.single-image-container{
    display: flex;
    
}

.left-column {
    flex: 1;
    background-color: #f0f0f0; /* Light grey background */
}

.left-column .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    width: 100%; /* Full width of the container */
    background-color: #f0f0f0; /* Optional: background color for visibility */
}

.centered-image {
    max-width: 100%;
    max-height: 100%;
}

.right-column {
    flex: 2;
    background-color: #d0d0d0; /* Slightly darker grey background */
}

.single-popup-container .single-images-container h1{
    font-family:  Tahoma;
    font-weight: 700;
    text-align: center;
    max-height: 600px;
}

.grid-neighbor {
    margin-left: 2.5%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 cột với chiều rộng bằng nhau */
    grid-gap: 10px; /* Khoảng cách giữa các hình ảnh */
    overflow-y: auto;
    height: 400px;
    position: relative;
    /* height: 400px; Adjust height as needed */
    /* flex: 1; */
}

.image-wrapper-neighbor {
    position: relative;
    display: inline-block;
}

.overlay-neighbor {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền với độ trong suốt */
    color: white; /* Màu chữ */
    padding: 5px; /* Khoảng cách từ lề */
    z-index: 1; /* Đảm bảo overlay hiển thị phía trên hình ảnh */
    border-top-left-radius: 10px; /* Bo tròn viền overlay */
}

.image-item-neighbor {
    width: 100%; /* Chiều rộng hình ảnh sẽ chiếm toàn bộ ô của grid */
    height: auto; /* Đảm bảo tỷ lệ hình ảnh không bị méo */
    /* object-fit: cover; Đảm bảo hình ảnh không bị biến dạng khi thay đổi kích thước */
    border-radius: 7px; /* Bo tròn viền hình ảnh */
    cursor: pointer;
    object-fit: contain; /* Ensure the image scales to fit within the container */
    max-height: 100%; /* Ensure the image does not exceed the container height */
}

.image-item-neighbor:hover {
    transform: scale(1.05); /* Phóng to hình ảnh khi hover */
    border: 2px solid rgb(0, 47, 255); /* Hiển thị khung hình ảnh in đậm khi hover */
    
}

/* .image-wrapper-neighbor.highlighted {
    border: 5px solid rgb(107, 255, 74);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} */

.image-wrapper-neighbor.highlighted {
    border: 3px solid #ffcc00; /* Highlight border */
    box-shadow: 0 0 10px rgba(255, 204, 0, 0.8); /* Highlight shadow */
    transform: scale(1.05); /* Slightly enlarge */
    transition: transform 0.3s, box-shadow 0.3s, border 0.3s; /* Smooth transition */
}

.image-wrapper-neighbor.highlight {
    border: 2px solid #FFD700;  /* Màu vàng để làm nổi bật */
    box-shadow: 0 0 10px #FFD700;
}

/* .single-popup-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.single-popup-container .popup-content-background{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 92%;
    background-color: white;
    border-radius: 20px;
    position: fixed;
}

.single-popup-container .close-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    padding: 5px;
    background-color: white;
    position: absolute;
    top: -1.7%;
    right: -0.7%;
    border-radius: 20px;
    cursor: pointer;
    z-index: 10000;
}

.single-popup-container .close-popup-button{
    cursor: pointer;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 10001;
}

.single-popup-container .single-popup-image-container{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.single-popup-container .single-img-wrapper{
    height: auto;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.single-popup-container .single-popup-image-container img{
    height: 100%;
    width: 100%;
    object-fit: contain;

}

.single-popup-container .button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;

}

.single-popup-container .btn-success{
    margin-left: 50px;
}

.single-popup-container .similar-image-container{
    max-height: 90%;
    width: 65%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    overflow-y: hidden;
}

.single-popup-container .similar-image-container h4{
    font-family:  Tahoma;
    font-weight: 700;
    text-align: center;
    max-height: 600px;
}

.single-popup-container .similar-images-list-wrapper{
    max-height: 550px;
    width: 100%;
    overflow-y: auto;
    display: block;
    position: relative;
}

.single-popup-container .similar-image{
    object-fit: contain;
    height: 100%;
    width: 100%;
}


.single-popup-container .similar-images-list{
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    grid-gap: 0px;
    padding-right: 5px;
    overflow-y: auto;
}

.single-popup-container .img-container{
    padding: 3px;
    border-radius: 5px;
}

.single-popup-container .similar-img-wrapper{
    border-radius: 5px;
    overflow: hidden;
}

.single-popup-container .img-container:hover{
    background-color: #000dc1;
} */